.maincontainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.content {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 2rem 7rem 2rem 7rem;
  border-radius: 30px;
  background-color: white;
}
.header {
  margin: 0;
  font-family: "kanit";
  font-weight: 500;
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
.helper {
  margin: 0;
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}
.btngroup {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.btnprimarytext {
  margin-right: 2rem;
  font-family: "kanit";
  font-weight: 500;
  font-size: 1.5rem;
  color: white;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 10px;
  background-color: var(--primary-red);
  cursor: pointer;
}
.btnprimarytext:hover {
  background-color: rgb(255, 129, 129);
}
.btnsecondarytext {
  margin-left: 2rem;
  font-family: "kanit";
  font-weight: 500;
  font-size: 1.5rem;
  color: black;
  padding: 0.5rem 2rem 0.5rem 2rem;
  border-radius: 10px;
  background-color: rgba(0, 13, 79, 0.08);
  cursor: pointer;
}
.btnsecondarytext:hover {
  background-color: rgba(0, 13, 79, 0.2);
}
