.maincontainer {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 100;
}
.content {
  display: flex;
  width: fit-content;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-self: center;
  padding: 5rem 10rem 5rem 10rem;
  border-radius: 30px;
  background-color: white;
}
.header {
  margin: 0;
  font-family: "kanit";
  font-weight: 500;
  font-size: 2rem;
  margin-bottom: 2rem;
}
.icon {
  height: 200px;
  width: 200px;
  margin-bottom: 2rem;
}
a:link {
  text-decoration: none;
}
.link {
  font-family: "kanit";
  font-weight: 500;
  font-size: 1.3rem;
  color: var(--primary-blue);
}
